/result
/\.direnv

# outputs
/firmware
!/firmware/.keep
*.pdf
*.png
*.uf2
/uf2

# West stuff
/zmk
/zephyr
/modules
/\.west
/\.build

# container dirs
/\.cache
/\.home
/.devcontainer/home
/.tools


# OS
\.DS_Store
Thumbs.db

# hardware artifacts
/hardware/ergogen/Untitled
/hardware/ergogen/freerouting/
/hardware/ergogen/manual/.history/
/hardware/ergogen/manual/gerbers/

# javascript
node_modules