/* 
https://github.com/zmkfirmware/zmk/blob/main/app/boards/shields/cradio/cradio_right.overlay
*/

#include "ergogenesis.dtsi"

&default_transform { // Offset of 16 because the left side has 18 columns
    col-offset = <18>;
};
