# https://github.com/auryn31/avocado/blob/main/config/boards/shields/avocado/Kconfig.defconfig
# https://github.com/zmkfirmware/zmk/blob/main/app/boards/shields/cradio/Kconfig.defconfig

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ERGOGENESIS_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Ergogenesis"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

# What is this?
config ZMK_USB
    default y

endif

if SHIELD_ERGOGENESIS_LEFT || SHIELD_ERGOGENESIS_RIGHT

config ZMK_SPLIT
    default y

endif